*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  background-color: rgba(9, 5, 62, 0.849);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color: white;
  margin-bottom: 2rem;
}
p{
  color: rgba(245, 245, 245, 0.915);
}
#temperature{
     font-size: 48px;
     color: rgba(21, 225, 225, 0.826);
}
button{
  padding: 0.5rem 2rem;
 background-color: rgba(236, 96, 236, 0.807);
 border: none;
 transition: all 0.2s ease-in;
}
button:hover{
  background-color: rgba(255, 244, 255, 0.807);
  cursor: pointer;
}

#City{
    color: orangered;
    font-size: 20px;
    font-weight: 600;
}